// Partial SCSS file containing color variables

// ============================================
// COLORS
// ============================================

// === LIGHT THEME ========================
$light: (
    1000: #ffffff,
    900: #fff5db,
    850: #EBE1C9,
    800: #ccc4af,
    300: #4d4942,
    200: #292929,
    100: #0d0d0d,
    0: #000000,

    error-1000: #ffd4d4,
    error-900: #ffb3b3,
    error-800: #ff8a8a,
);

// === DARK THEME ========================
$dark: (
    1000: #ffffff
);