// Partial SCSS file containing CSS style resets

/* ============================================
RESET
============================================ */

:global {
    /* === ANDY BELL'S CSS RESET ================== */

    /* Box sizing rules */
    *, *::before, *::after {
        box-sizing: border-box;
    }

    /* Remove default margin */
    body,
    h1,
    h2,
    h3,
    h4,
    p,
    figure,
    blockquote,
    dl,
    dd {
        margin: 0;
    }

    /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
    ul[role='list'],
    ol[role='list'] {
        list-style: none;
    }

    /* Set core body defaults */
    body {
        min-height: 100vh;
        text-rendering: optimizeSpeed;
        line-height: 1.5em;
        margin: 0;
    }

    /* A elements that don't have a class get default styles */
    a:not([class]) {
        text-decoration-skip-ink: auto;
    }

    /* Make images easier to work with */
    img,
    picture {
        max-width: 100%;
        display: block;
    }

    /* Inherit fonts for inputs and buttons */
    input,
    button,
    textarea,
    select {
        font: inherit;
    }


    /* === METALLIC EDGE SPECIFIC RESETS ========= */
    html {
        -webkit-text-size-adjust: 100%;
    }

    /* remove default focus ring */
    *:focus {
        outline: none;
    }

    /* remove webkit tap highlighting */
    * {
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    button {
        cursor: pointer;
        border: none;
        background-color: transparent;
    }

    input {
        -webkit-appearance: none;
        background: transparent;

        // reset text & number input padding
        &[type="text"], &[type="number"], &[type="search"] {
            padding: 0;
            border: none;
        }

        // remove number input spin buttons
        &[type="number"]::-webkit-inner-spin-button,
        &[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &[type="number"] {
            -moz-appearance:textfield;
        }

        // remove range thumb styling
        &[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
        }
    }

    ol, ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    caption {
        text-align: start;
    }

    table {
        th {
            text-align: start;
        }
    }
}