// Partial SCSS file containing variables

// === USE ====================================
@use 'colors' as *;

/* ============================================
   VARIABLES
   ============================================ */

// === BREAKPOINTS ============================
$breakpoint-smdesktop: 1450px;
$breakpoint-tablet: 1250px;
$breakpoint-smdtablet: 1000px;
$breakpoint-lgmobile: 850px;
$breakpoint-mobile: 650px;

:root {
    /* === CSS VARIABLES ====================== */
    --max-width: 1560px;
    --scalor-main: 1;

    --border-width: 1px;
    --border: solid var(--border-width);
    --border-xthick: 0.35rem;
    --border-radius-round: 9e5px;

    --padRem-2xl: calc(2rem * var(--scalor-main));
    --padRem-xl: calc(1.5rem * var(--scalor-main));
    --padRem-lg: calc(1.25rem * var(--scalor-main));
    --padRem-md: calc(1.125rem * var(--scalor-main));
    --padRem-sm: calc(0.9375rem * var(--scalor-main));
    --padRem-xs: calc(0.75rem * var(--scalor-main));
    --padRem-2xs: calc(0.5625rem * var(--scalor-main));
    --padRem-3xs: calc(0.375rem * var(--scalor-main));
    --padRem-4xs: calc(0.1875rem * var(--scalor-main));
    --padRem-5xs: calc(0.09375rem * var(--scalor-main));

    --pad-hrz: 80px;
    --pad-7xl: calc(130px * var(--scalor-main));
    --pad-6xl: calc(100px * var(--scalor-main));
    --pad-5xl: calc(80px * var(--scalor-main));
    --pad-4xl: calc(65px * var(--scalor-main));
    --pad-3xl: calc(50px * var(--scalor-main));
    --pad-2xl: calc(32px * var(--scalor-main));
    --pad-xl: calc(24px * var(--scalor-main));
    --pad-lg: calc(20px * var(--scalor-main));
    --pad-md: calc(18px * var(--scalor-main));
    --pad-sm: calc(15px * var(--scalor-main));
    --pad-xs: calc(12px * var(--scalor-main));
    --pad-2xs: calc(9px * var(--scalor-main));
    --pad-3xs: calc(6px * var(--scalor-main));
    --pad-4xs: calc(3px * var(--scalor-main));
    --pad-5xs: calc(1.5px * var(--scalor-main));

    --font-4xl: 3.3rem;
    --font-2xl: 1.8rem;
    --font-xl: 1.65rem;
    --font-lg: 1.5rem;
    --font-md: 1.2rem;
    --font-sm: 1.1rem;

    --trans-duration-fast: 0.18s;
    --trans-fast: var(--trans-duration-fast) ease;

    /* === COLORS ============================= */

    /* light theme (default) */
    // parse $light into CSS variables
    @each $name, $value in $light {
        --clr-#{$name}: #{$value};
    }
    color-scheme: light;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* dark theme */
        // parse $dark into CSS variables
        @each $name, $value in $dark {
            --clr-#{$name}: #{$value};
        }
        color-scheme: dark;
    }
}

:global([data-theme="light"]) {
    /* light theme */
    // parse $light into CSS variables
    @each $name, $value in $light {
        --clr-#{$name}: #{$value};
    }
    color-scheme: light;
}

:global([data-theme="dark"]) {
    /* dark theme */
    // parse $dark into CSS variables
    @each $name, $value in $dark {
        --clr-#{$name}: #{$value};
    }
    color-scheme: dark;
}

/* === BREAKPOINTS ======================== */
@media only screen and (max-width: $breakpoint-smdesktop) {
    :root {
        /* === CSS VARIABLES ====================== */
        --scalor-main: 0.98;

        --pad-hrz: 60px;

        --font-4xl: 3.2rem;
        --font-2xl: 1.75rem;
        --font-xl: 1.6rem;
        --font-lg: 1.45rem;
        --font-md: 1.15rem;
    }
}

@media only screen and (max-width: $breakpoint-tablet) {
    :root {
        /* === CSS VARIABLES ====================== */
        --scalor-main: 0.95;

        --pad-hrz: 25px;

        --font-4xl: 3.05rem;
        --font-2xl: 1.75rem;
        --font-xl: 1.6rem;
        --font-lg: 1.4rem;
        --font-md: 1.1rem;
    }
}

@media only screen and (max-width: $breakpoint-smdtablet) {
    :root {
        /* === CSS VARIABLES ====================== */
        --scalor-main: 0.85;

        --pad-hrz: 0;

        --font-4xl: 2.8rem;
        --font-2xl: 1.75rem;
        --font-xl: 1.6rem;
        --font-lg: 1.4rem;
        --font-md: 1.1rem;
    }
}

@media only screen and (max-width: $breakpoint-mobile) {
    :root {
        /* === CSS VARIABLES ====================== */
        --scalor-main: 0.85;

        --pad-hrz: 5.5%;

        --font-4xl: 2.6rem;
        --font-2xl: 1.75rem;
        --font-xl: 1.6rem;
        --font-lg: 1.4rem;
        --font-md: 1.1rem;
    }
}