// Partial SCSS file containing variables

// === USE ====================================
@use 'colors' as *;

/* ============================================
   VARIABLES
   ============================================ */

// === BREAKPOINTS ============================
$breakpoint-smdesktop: 1450px;
$breakpoint-tablet: 1250px;
$breakpoint-mobile: 650px;

:root {
    /* === CSS VARIABLES ====================== */
    --max-width: 1560px;

    --border-width: 1px;
    --border: solid var(--border-width);

    --pad-hrz: 80px;

    /* === COLORS ============================= */

    /* light theme (default) */
    // parse $light into CSS variables
    @each $name, $value in $light {
        --clr-#{$name}: #{$value};
    }
}

/* === BREAKPOINTS ======================== */
@media only screen and (max-width: $breakpoint-smdesktop) {
    :root {
        /* === CSS VARIABLES ====================== */
        --pad-hrz: 50px;
    }
}

@media only screen and (max-width: $breakpoint-tablet) {
    :root {
        /* === CSS VARIABLES ====================== */
        --pad-hrz: 25px;
    }
}

@media only screen and (max-width: $breakpoint-mobile) {
    :root {
        /* === CSS VARIABLES ====================== */
        --pad-hrz: 0;
    }
}